<div class="activities">
    <div class="activities__header">
        <h2> Members </h2>
    </div>
    {% for message in room_messages %}
    {% ifchanged %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'user-profile' message.user.id %}" class="roomListRoom__author">
                <div class="avatar avatar--medium">
                    <img src="{{message.user.avatar.url}}" />
                </div>
                <p>

                    @{{message.user.username}}

                </p>
            </a>

        </div>

    </div>
    {% endifchanged %}
    {% endfor %}
</div>